/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #e10600;
}

nav a {
    margin-left: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #e10600;
}

/* SHOP MEGA MENU */
.nav-shop {
    position: relative;
    display: inline-block;
}

.nav-shop a {
    cursor: pointer;
}

/* Menu nascosto */
.mega-menu {
    position: absolute;
    top: 40px;
    left: -150px;
    display: flex;
    gap: 60px;
    background: #fff;
    padding: 40px 50px;
    border: 1px solid #222;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 100;
}

/* Mostra menu al hover */
.nav-shop:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Colonne */
.mega-column {
    min-width: 180px;
}

.mega-title {
    font-size: 1.5em;
    color: #e10600;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.mega-title:hover {
    color: #ff1a14;
}

.mega-column a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
}

.mega-column a:hover {
    color: #e10600;
}

.success-container {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

/* BOX PRINCIPALE */
.success-box {
    background: white;
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.checkmark {
    width: 80px;
    height: 80px;
    background: #4CAF50;
    color: white;
    font-size: 48px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-box h1 {
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.primary-btn {
    background: #111;
    color: white;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #333;
}